#root {
    text-align: center;
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --primary-color: #333333;
    --secondary-color: #7F8C8D;
    --background-color: #ECF0F1;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --accent-color: #95A5A6;
    --silver-color: #BDC3C7;
    --main-text-color: #000000;
    --secondary-text-color: #2C3E50;

}

body {
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}